{% extends "base.html" %}

{% block content %}
<div class="layout-two-col">
    <div class="col-left">
        <div class="card">
            <div class="main">
                <h1>Main menu</h1>
                <div id="menumsg">
                    Welcome! You are logged in as <strong>{{ me.userID }}</strong>.
                </div>
                <br><br>

                <h2>User options</h2>
                <ul>
                    <li><a href="/users/search">Search & view users</a></li>
                    <li><a href="/tournaments">Search & view tournaments / sign up / withdraw</a></li>
                    <li><a href="/games/new">Start a new game (web UI)</a></li>
                    <li><a href="/games">Review games</a></li>
                </ul>

                {% if me.role == 'admin' %}
                <h2>Admin options</h2>
                <ul>
                    <li><a href="/users/manage">Search / Create / edit / delete users</a></li>
                    <li><a href="/tournaments/manage">View / Create / edit / delete tournaments</a></li>
                </ul>
                {% endif %}

                <a href="/logout">Logout</a><br>
            </div>
        </div>
    </div>

    <div class="col-right">
        <!-- Empty for now; you could add recent games, news, etc. -->
    </div>
</div>
{% endblock %}
